body{
	background-image: url(imgs/Vault.jpg);
}

h2{
	color: silver;
	text-align: center;
	text-emphasis-style: bold;
	text-shadow: 5cap;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#line1{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#line2{
	margin-top: 0px;
	padding-top: 0px;
}
	
